<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:fragment="header" class="header">
    <div class="header-container">
        <div class="header-left">
            <h1><a href="/demo/list" class="logo">로고</a></h1>
            <nav>
                <ul class="menu">
                    <li><a href="/demo/list">채용공고</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-center">
            <form th:action="@{/demo/list}" method="get">
                <input type="text" name="keyword" placeholder="직무, 회사, 지역, 키워드로 검색해보세요" class="search-input">
                <button type="submit" class="search-btn">검색</button>
            </form>
        </div>
        <div class="header-right">
            <div th:if="${loggedIn}">
                <p>안녕하세요, <span th:text="${username}">사용자</span>님</p>
                <a href="/demo/member-history" class="member-info-btn">정보조회</a> |
                <a href="/demo/logout">Logout</a>
            </div>
            <div th:if="${!loggedIn}">
                <p>로그인해주세요.</p>
                <a href="/demo/login">Login</a>
                <a href="/demo/signup">Sign Up</a>
            </div>
        </div>


    </div>
</header>
</body>
</html>
