<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member History</title>
</head>
<body>
<!-- 헤더 포함 -->
<div th:replace="header :: header"></div>
<h1>회원 활동 내역</h1>

<h2>관심 목록</h2>
<table>
    <tr>
        <th>채용 공고 제목</th>
        <th>취소</th>
    </tr>
    <tr th:each="item : ${saveList}">
        <td th:text="${item.jobPosting.title}">Job Title</td>
        <td>
            <form th:action="@{/demo/cancel-save/{id}(id=${item.id})}" method="post">
                <button type="submit">취소</button>
            </form>
        </td>
    </tr>
</table>

<h2>지원 목록</h2>
<table>
    <tr>
        <th>채용 공고 제목</th>
        <th>취소</th>
    </tr>
    <tr th:each="item : ${appList}">
        <td th:text="${item.jobPosting.title}">Job Title</td>
        <td>
            <form th:action="@{/demo/cancel-apply/{id}(id=${item.id})}" method="post">
                <button type="submit">취소</button>
            </form>
        </td>
    </tr>
</table>

<form th:action="@{/demo/delete-member}" method="post">
    <button type="submit">회원탈퇴</button>
</form>

<a th:href="@{/demo/member-modify}">회원 정보 수정</a>

</body>
</html>
