<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify Job Posting</title>
</head>
<body>
<!-- 헤더 포함 -->
<div th:replace="header :: header"></div>
<h1>채용공고 수정</h1>
<form th:action="@{/demo/modify/{id}(id=${jobPosting.id})}" th:object="${jobPosting}" method="post">
    <label>제목:</label><input type="text" th:field="*{title}" /><br />
    <label>회사명:</label><input type="text" th:field="*{company}" /><br />
    <label>위치:</label><input type="text" th:field="*{location}" /><br />
    <label>마감일:</label><input type="text" th:field="*{closingDate}" /><br />
    <label>URL:</label><input type="text" th:field="*{url}" /><br />
    <button type="submit">수정</button>
</form>
</body>
</html>
