<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Job Posting</title>
</head>
<body>
<h1>채용공고 등록</h1>
<form th:action="@{/demo/register}" th:object="${jobPosting}" method="post">
    <label>제목:</label><input type="text" th:field="*{title}" /><br />
    <label>회사명:</label><input type="text" th:field="*{company}" /><br />
    <label>위치:</label><input type="text" th:field="*{location}" /><br />
    <label>마감일:</label><input type="text" th:field="*{closingDate}" /><br />
    <label>URL:</label><input type="text" th:field="*{url}" /><br />
    <button type="submit">등록</button>
</form>
</body>
</html>
